/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --title-color-white: hsl(0, 0%, 95%);
  --text-color-white: hsl(0, 0%, 50%);
  
  --title-color-black: hsl(0, 0%, 5%);
  --text-color-black: hsl(0, 0%, 8%);
  --text-color-black-light: hsl(0, 0%, 20%);

  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 70%);
  --text-color-light: hsl(0, 0%, 60%);
  --body-color: hsl(0, 0%, 0%);
  --container-color: hsl(0, 0%, 8%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}


/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 5rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

body {
  background-color: var(--body-color);
}

button,
input {
  outline: none;
  border: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__border {
  border-bottom: 1px solid var(--title-color);
  padding-top: 3.5rem;
  margin: auto;
  width: 50%;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color-white);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

.nav__toggle,
.nav__close {
  display: flex;
  font-size: 1.25rem;
  color: var(--title-color-white);
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsla(0, 0%, 0%, .3);
    width: 100%;
    padding-block: 4rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: top .4s;
  }
}

.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  position: relative;
  color: var(--title-color-white);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
}

.nav__link::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--title-color-white);
  position: absolute;
  left: 0;
  bottom: -.5rem;
  transition: width .3s;
}

.nav__link:hover::after {
  width: 70%;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav__menu i {
  color: var(--text-color-white);
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Add blur to header */
.blur-header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, .3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  top: 0;
  left: 0;
  z-index: -1;
}

/* Active link */
.active-link::after {
  width: 70%;
}

/*=============== LANGUAGE CHANGE ===============*/
.langWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.languager {
  display: flex;
  column-gap: .5rem;
  cursor: pointer;
  color: var(--title-color-white);
}

.langActive {
  display: none;
}

.flag__img {
  border-radius: .2rem;
}

/*=============== VARIABLE DARK THEME ===============*/
body.dark-theme { 
  --title-color: hsl(0, 0%, 5%);
  --text-color: hsl(0, 0%, 8%);
  --text-color-light: hsl(0, 0%, 20%);
  --body-color: hsl(0, 0%, 97%);
  --container-color: hsl(0, 0%, 60%);
}
/*=============== BUTTON CHANGE ===============*/
.nav__btns {
  display: flex;
  align-items: center;
}

.change-theme {
  padding-right: 1rem;
  padding-left: 2rem;
  font-size: 1.25rem;
  color: var(--title-color-white);
  cursor: pointer;
}

.change-theme:hover {
  color: hsl(0, 0%, 80%);
}

/*=============== HOME ===============*/
.home {
  position: relative;
  height: 100vh;
}

.home__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.home__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background: linear-gradient(180deg,
                    hsla(0, 0%, 0%, 0) 58%,
                    hsl(0, 0%, 0%) 78%);
}

.home__container {
  position: relative;
  padding-top: 7rem;
  row-gap: 3rem;
}

.home__data {
  text-align: center;
}

.home__subtitle {
  font-size: var(--h2-font-size);
  margin-bottom: .5rem;
  color: var(--title-color-white);
}

.home__title {
  font-size: var(--biggest-font-size);
  margin-bottom: 1rem;
  color: var(--title-color-white);
}

.home__description {
  margin-bottom: 2rem;
  color: var(--title-color-white);
}

.home__cards {
  grid-template-columns: 240px;
  justify-content: center;
}

.home__card {
  position: relative;
  overflow: hidden;
}

.home__card-img {
  transition: transform .4s;
}

.home__card-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg,
            hsla(0, 0%, 0%, 0) 50%,
            hsl(0, 0%, 0%) 125%);
}

.home__card-title {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  font-size: var(--h3-font-size);
  z-index: 1;
}

.home__card:hover .home__card-img {
  transform: scale(1.2);
}

.home__button i {
  color: var(--title-color-white);
}

.home__data a {
  color: var(--title-color-white)
}

/*=============== BUTTON ===============*/
.button {
  background-color: hsla(0, 0%, 100%, .2);
  padding: 1.25rem 1.5rem;
  color: var(--title-color);
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.button i {
  font-size: 1.25rem;
  transition: transform .4s;
  font-weight: initial;
}

.button:hover i {
  transform: translateX(.25rem);
}

/*=============== ABOUT ===============*/
.about__container {
  row-gap: 3rem;
  padding-bottom: 4rem;
}

.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: 2rem;
}

.about__image {
  position: relative;
  justify-self: center;
  overflow: hidden;
}

.about__img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: right;
  transition: transform .4s;
}

.about__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
            hsla(0, 0%, 0%, 0) 50%,
            hsl(0, 0%, 0%) 125%);
}

.about__image:hover .about__img {
  transform: scale(1.2);
}

/*=============== location ===============*/
.location__container {
  padding-top: 1.5rem;
  grid-template-columns: 240px;
  justify-content: center;
  row-gap: 2.5rem;
}

.location__image {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

.location__img {
  transition: transform .4s;
}

.location__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
                    hsla(0, 0%, 0%, 0) 50%,
                    hsl(0, 0%, 0%) 125%);
}

.location__description{ 
  text-align: center;
  margin-bottom: 2rem;
}

.location__location {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-size: var(--small-font-size);
  font-weight: 500;
}

.location__location i {
  font-size: 1rem;
}

.location__image:hover .location__img {
  transform: scale(1.2);
}

.location__address {
  text-align: center;
  padding-bottom: 1rem;
}

.location__disclaimer {
  text-align: center;
  margin: auto;
  max-width: 800px;
}

/*=============== Announcement ===============*/
.announcement {
  padding-top: 8rem;
}

.announcement__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.announcement__content {
  align-items: center;
  width: 100%;
}

.announcement__items {
  display: grid;
  row-gap: 1rem;
  justify-content: center;
  justify-items: center;
}

.announcement__item-title {
  padding-bottom: 1rem;
  color: var(--title-color-black);
}

.announcement__item {
  padding: 2rem;
  width: 100%;
  background-color: #fff;
  margin: 24px;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
}

.announcement__subtitle {
  position: relative;
  text-align: center;
  padding-bottom: 2rem;
}

.announcement__items p {
  color: var(--text-color-black);
}

/*=============== Staff ===============*/
.staff {
  position: relative;
}

.staff__image {
  position: absolute;
  overflow: hidden;
}

.staff__img {
  width: 100%;
  height: 333px;
  object-fit: cover;
  object-position: center;
}

.staff__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
                            hsl(0, 0%, 0%) 5%,
                            hsla(0, 0%, 0%, 0) 40%,
                            hsla(0, 0%, 0%, 0) 60%,
                            hsl(0, 0%, 0%) 92%);
}

.staff__content {
  position: relative;
  padding-top: 16rem;
  text-align: center;
  row-gap: 2.5rem;
  justify-items: center;
}

.staff__member {
  display: grid;
  row-gap: .5rem;
}

.staff__member-container {
  width: 80%;
  display: flex;
  row-gap: 1.5rem;
  column-gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.staff__perfil {
  width: 225px;
  height: 225px;
  border-radius: .5rem;
}

.staff__name {
  padding-top: .5rem;
  font-size: var(--normal-font-size);
  color: var(--title-color);
}

/*=============== SCHEDULE ===============*/
.schedule__container {
  row-gap: 3rem;
  padding-bottom: 2.5rem;
}

.schedule__data{
  text-align: center;
}

.schedule__description {
  text-align: center;
  margin-bottom: 2rem;
}

.google__map {
  display: flex;
  margin: auto;
  padding-bottom: 1rem;
}
/*=============== Event ===============*/
.event__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.event__item {
  border-radius: 25px;
  position: relative;
  margin: 24px;
  width: 320px;
  height: 570px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
}

.event__img-container,
.event__body-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.event__img-container img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  object-position: center;
}

.event__body-container {
  position: relative;
}

.event__overlay {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(24, 83, 122, 0.6);
  opacity: 0;
  transition: height linear 0.4s, opacity linear 0.2s;
}

.event__item:hover .event__overlay {
  opacity: 1;
  height: 150px;
}

.event__section-info {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.event__title,
.event__day {
  color: #18537a;
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 12px;
}

.event__info {
  letter-spacing: 0.5px;
  margin-bottom: 6px;
}

.event__separator {
  width: 20%;
  height: 6px;
  background-color: #17537a;
  margin-bottom: 16px;
}

.event__additional-info {
  border-top: 1px solid #bbb;
  margin-top: 12px;
  padding: 28px;
  padding-bottom: 0;
}

.event__additional-info .event__info {
  font-size: 0.9em;
  margin-bottom: 20px;
  text-align: center;
}

.event__info i {
  color: #18537a;
  font-size: 1.1em;
  margin-right: 4px;
}

.event__info span {
  color: #18537a;
  font-weight: bolder;
}

.event__action {
  color: #fff;
  border: 3px solid #fff;
  background-color: transparent;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  outline: none;
  cursor: pointer;
  padding: 12px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 2px;
  transition: background-color 0.4s, top 0.4s;
}

.event__item .event__action {
  top: 50px;
}

.event__action:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/*=============== CONTACT ===============*/
.contact {
  padding-bottom: 2rem;
}
.contact__section_title {
  text-align: center;
}

.contact__section_subtitle {
  display: block;
  text-align: center;
  margin-bottom: 1.5rem;
}

.contact__container {
  row-gap: 3.5rem;
}

.contact__title {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.contact__title i {
  font-size: 1rem;
  font-weight: initial;
}

.contact__info,
.contact__data,
.contact__form {
  display: grid;
}

.contact__info {
  row-gap: 2rem;
}

.contact__data {
  row-gap: .75rem;
}

.contact__data-title {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact__data-info {
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.contact__button {
  width: max-content;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  font-size: var(--small-font-size);  
}

.contact__button i {
  font-size: 1rem;
  transition: transform .3s;
}

.contact__button:hover i {
  transform: translateX(.25rem);
}

.contact__form {
  position: relative;
  row-gap: 2rem;
}

.contact__form-div {
  position: relative;
  height: 4rem;
}

.contact__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  border-radius: 2rem;
  padding: 1.5rem;
  font-size: var(--normal-font-size);
  color: var(--title-color);
  background: none;
  outline: none;
  z-index: 1;
}

.contact__form-tag {
  position: absolute;
  top: -.75rem;
  left:  1.25rem;
  z-index: 10;
  background-color: var(--body-color);
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  padding: .35rem;
}

.contact__form-area {
  height: 10rem;
}

.contact__form-area textarea {
  resize: none;
}

.contact__form .contact__button {
  border: none;
  background: none;
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  outline: none;
  margin-top: .75rem;
}

.contact__form .contact__button i {
  font-size: 1.5rem;
  font-weight: initial;
}

.contact__message {
  font-size: var(--small-font-size);
  position: absolute;
  bottom: 2.8rem;
  left: 1.5rem;
}

/* Status color */
.color-red {
  color: hsl(4, 71%, 50%);
}

.color-blue {
  color: hsl(207, 56%, 45%);
}

/*=============== FOOTER ===============*/
.footer {
  padding-block: 2.5rem;
  background-color: var(--container-color);
}

.footer__content {
  row-gap: 3.5rem;
}

.footer__logo {
  display: inline-block;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
}

.footer__data {
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 3.5rem;
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.footer__links {
  display: grid;
  row-gap: .75rem;
}

.footer__link {
  color: var(--text-color);
  transition: color .4s;
}

.footer__link:hover {
  color: var(--title-color);
}

.footer__group,
.footer__social {
  display: flex;
}

.footer__group {
  margin-top: 5rem;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.footer__social {
  column-gap: 1.5rem;
}

.footer__social-link {
  color: var(--text-color);
  font-size: 1.25rem;
  transition: color .4s, transform .4s;
}

.footer__social-link:hover {
  color: var(--title-color);
  transform: translateY(-.25rem);
}

.footer__copy {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  text-align: center;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(0, 0%, 10%);
}

::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background-color: hsl(0, 0%, 20%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 30%);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: hsla(0, 0%, 100%, .1);
  padding: 6px;
  display: inline-flex;
  color: var(--title-color);
  font-size: 1.25rem;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s;
}

.scrollup:hover {
  transform: translateY(-.25rem);
}

/* Show Scroll Up */
.show-scroll {
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .footer__data {
    grid-template-columns: max-content;
  }
}

@media screen and (min-width: 439px) and (max-width: 477px) {
  .about__data {
    padding-top: 4rem;
  }
}

@media screen and (min-width: 478px) and (max-width: 575px) {
  .about__data {
    padding-top: 7rem;
  }
}
/* For medium devices */
@media screen and (min-width: 576px) {
  .home__container,
  .about__container,
  .schedule__container {
    grid-template-columns: 380px;
    justify-content: center;
  }

  .footer__data {
    grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (max-width: 767px) {
  .contact__data {
    justify-items: center;
  }

  .contact__form {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .home__cards {
    grid-template-columns: repeat(2, 240px);
  }

  .about__container,
  .schedule__container {
    grid-template-columns: repeat(2, 350px);
    align-items: center;
  }

  .about__data,
  .about__data .section__title,
  .schedule__data {
    text-align: initial;
  }

  .location__container {
    grid-template-columns: repeat(2, 240px);
  }

  .staff__img {
    width: 100vw;
  }

  .schedule__image {
    order: -1
  }

  .contact__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 8rem;
  }

  .contact__form {
    width: 360px;
  }

  .footer__content {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

  .footer__group {
    flex-direction: column-reverse;
  }

  .footer__copy {
    order: -1;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .location__container {
    grid-template-columns: repeat(3, 240px);
  }

  .footer__data {
    grid-template-columns: repeat(4, max-content);
    column-gap: 4.5rem;
  }
}

@media screen and (max-width: 1152px) {
  .home__data {
    padding-top: 8vh;
  }
}

@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 7rem 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .blur-header::after {
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px); /* For Safari */
  }

  .home__container {
    grid-template-columns: initial;
    justify-content: initial;
    row-gap: 4rem;
    padding-top: 10rem;
  }

  .home__shadow {
    height: 980px;
  }

  .home__subtitle {
    font-size: var(--h1-font-size);
  }

  .home__description {
    margin-bottom: 2.5rem;
  }

  .home__cards {
    grid-template-columns: repeat(4, 260px);
  }

  .home__card-title {
    left: 1.5rem;
    bottom: 1.5rem;
  }

  .button {
    column-gap: 1.5rem;
  }

  .about__container {
    grid-template-columns: 400px 460px;
    column-gap: 8.5rem;
    padding-block: 1rem;
  }

  .about__description {
    margin-bottom: 3rem;
  }

  .about__img {
    width: 460px;
    height: 460px;
  }

  .location__container {
    grid-template-columns: repeat(3, 300px);
    column-gap: 3rem;
    padding-top: 4rem;
  }

  .location__title {
    font-size: var(--h1-font-size);
  }

  .location__location {
    font-size: var(--normal-font-size);
  }
  .staff__img {
    height: 600px;
  }

  .staff__content {
    padding-top: 28rem;
  }

  .staff__data,
  .staff__data .section__title {
    color: var(--title-color-white);
    text-align: initial;
  }

  .staff__member {
    padding-top: 7rem;
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 1.25rem;
  }

  .schedule__container {
    grid-template-columns: 460px 340px;
    column-gap: 8.5rem;
    padding-block: 1rem 5rem;
  }

  .schedule__img {
    width: 460px;
  }

  .schedule__description {
    margin-bottom: 3rem;
  }

  .footer {
    padding-block: 5rem 3rem;
  }

  .footer__title {
    margin-bottom: 1.5rem;
  }

  .footer__group {
    margin-top: 7rem;
  }

  .footer__social {
    column-gap: 2rem;
  }

  .footer__social-link {
    font-size: 1.5rem;
  }

  .scrollup {
    right: 3rem;
  }
} 

@media screen and (min-width: 1200px) {
  .contact__title {
    margin-bottom: 3rem;
  }

  .contact__title i {
    font-size: 1.25rem;
  }

  .contact__info {
    row-gap: 3rem;
  }

  .contact__data-info {
    font-size: var(--normal-font-size);
  }

  .contact__form {
    row-gap: 2.5rem;
  }
}